.Order {
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Order div {
  width: 100%;
}

.Order label {
  font-weight: bold;
}

.Ingredients {
  margin: 0;
  padding: 0;
  list-style: square;
  display: flex;
  flex-flow: column;
}

.Ingredient {
  margin-left: 30px;
}

@media (min-width: 500px) {
  .Order div {
    display: inline-block;
    width: 50%;
  }
}